
    section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2rem;
  gap: 2rem;
}
.annonce {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.annonce:hover {
  scale: 1px;
}

.annonce img {
  width: 15rem;
}
